<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1><span class="glyphicon glyphicon-lock"></span> Node Authentication</h1>
			<p>Login or Register with:</p>
			<a href="/users/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Login</a>
			<a href="/users/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Signup</a>
		</div>
	</div>
	<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
</body>
</html>